* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #4e4e4e;
}

body {
  background-color: #f5f5f5;
}

header,
footer {
  background-color: white;
}

main {
  padding-top: 0%;
  padding-bottom: 0%;
  background-color: #f5f5f5;
}

main .section__intro {
  text-align: center;
}

main .section__intro h4 {
  font-weight: 550;
}

main .section__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% auto 15%;
      grid-template-columns: 15% auto 15%;
      grid-template-areas: "blank table blank";
  padding: 1cm;
  margin: 0;
}

main .section__main aside #blank {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: blank;
}

main .section__main table #table {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: table;
  padding: 0;
  margin: 0;
}

main .section__main .carousel .carousel-item .btn a {
  color: white;
}

footer {
  text-decoration: none;
  color: black;
}

footer .nav-item img {
  opacity: 50%;
}

h2 {
  font-weight: bolder;
}

#login {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto 30%;
      grid-template-columns: 30% auto 30%;
      grid-template-areas: "p1 p2 p3";
}

#login .blank {
  grid-area: p1;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: p3;
}

#login .cuadro1 {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
  justify-items: center;
  font-size: 20px;
  padding-left: 2cm;
  padding-right: 2cm;
  padding-top: 0cm;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: p2;
}

#login .cuadro1 tbody {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#login .cuadro1 input {
  text-align: center;
  margin-bottom: 0.5cm;
}

#login .cuadro1 .botones {
  text-align: center;
}

footer .firma {
  text-align: center;
  padding-bottom: 0.2cm;
}

#form-producto {
  text-align: center;
}

#form-producto div {
  margin: 0.5cm;
}

#form-producto div input {
  text-align: center;
  border: 2px, solid, darkgrey;
  width: 400px;
}

#form-producto div #archivo {
  border: 2px, solid, darkgrey;
}

#form-producto div textarea {
  width: 400px;
  height: 100px;
  text-align: center;
}

.form-container {
  display: block;
}

#listado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#listado .card {
  width: 300px;
  margin: 0.5cm;
}

#listado .card .card-body .titulo,
#listado .card .card-body .texto {
  font-weight: bolder;
}

#listado .card .card-body #prodID {
  display: none;
}

#listado .card .card-body #btnCarrito {
  font-weight: bolder;
  border: 0.5px solid gray;
}

.section__intro {
  text-align: center;
}

.section__intro h3 {
  font-weight: bolder;
}

#items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#items .button {
  font-weight: bolder;
  border: 0.5px solid gray;
}

.card {
  width: 300px;
  margin: 0.5cm;
}

.card .card-body .titulo,
.card .card-body .texto {
  font-weight: bolder;
}

.card .card-body #prodID {
  display: none;
}

.hide,
.remove {
  display: none;
}

.carrito {
  text-align: center;
  margin: 0.2cm;
}

.carrito h4 {
  font-weight: bolder;
}

.carrito table {
  display: none;
}

.carrito .serv {
  font-weight: bolder;
  border: 0.5px solid gray;
  margin-top: 0.5cm;
}

.carrito .serv a {
  text-decoration: none;
  color: #4e4e4e;
}

.contacto {
  text-align: center;
}

.contacto input {
  text-align: center;
  margin: 0.2cm;
}

.contacto textarea {
  padding: 6px 12px 6px 12px;
  width: 792px;
  margin: 7.55px;
}
