//Login Admin - Productos
h2 {
  font-weight: bolder;
}

#login {
  text-align: center;
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-areas: "p1 p2 p3";

  .blank {
    grid-area: p1;
    grid-area: p3;
  }

  .cuadro1 {
    text-align: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    font-size: 20px;
    padding-left: 2cm;
    padding-right: 2cm;
    padding-top: 0cm;
    grid-area: p2;
    tbody {
      text-align: center;
      align-content: center;
    }
    input {
      text-align: center;
      margin-bottom: 0.5cm;
    }
    .botones {
      text-align: center;
    }
  }
}

footer {
  .firma {
    text-align: center;
    padding-bottom: 0.2cm;
  }
}
