.section__intro {
  text-align: center;
  h3 {
    font-weight: bolder;
    margin-bottom: 2cm;
  }
}

#cards {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  .add {
    font-weight: bolder;
    border: 0.5px solid gray;
  }
  .card {
    width: 300px;
    margin: 0.5cm;
    .card-body {
      h5,
      h6,
      p {
        font-weight: bolder;
      }
    }
  }
}

.hide,
.remove {
  display: none;
}
