.section__intro {
  text-align: center;
  h3 {
    font-weight: bolder;
    margin-bottom: 2cm;
  }
}

.row {
  display: flex;
  align-content: center;
  justify-content: center;
  .add {
    font-weight: bolder;
    border: 0.1px solid gray;
  }
  .card {
    width: 250px;
    margin: 0.5cm;
    padding: 0;
    .card-body {
      h5,
      h6,
      p {
        font-weight: bolder;
      }
    }
  }
}

.container {
  margin-top: 1cm;
  h4 {
    font-weight: bolder;
  }
}

.btn-info {
  background-color: lightblue;
  color: rgb(78, 78, 78);
  font-weight: bolder;
}

.btn-danger {
  background-color: rgb(238, 173, 173);
  color: rgb(78, 78, 78);
  font-weight: bolder;
}

.add {
  background-color: lightblue;
  color: rgb(78, 78, 78);
  font-weight: bolder;
}
