.section__intro {
  text-align: center;
  p {
    font-size: 19.2px;
  }
}

#items {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  .button {
    font-weight: bolder;
    border: 0.5px solid gray;
  }
}

.card {
  width: 300px;
  margin: 0.5cm;
  .card-body {
    .titulo,
    .texto {
      font-weight: bolder;
    }
    #prodID {
      display: none;
    }
  }
}

.hide,
.remove {
  display: none;
}
